
#searchbar {
    box-sizing: border-box;
    position: absolute;
    top: 3vh;
    left: 3vh;
    width: calc(100vw - 6vh);
    height: 5vh;
    padding: 0 5vh 0 4vh;

    border: none;
    outline: none;
    background-color: var(--primary-color);

    font-size: 16px;
    font-weight: 400;
    font-family: system-ui;
    color: white;
    border-radius: 15px;
    transition: background-color 100ms ease-in;
}

#searchbutton {
    position: absolute;
    top: 4vh;
    right: 5vh;
    color: var(--background-color);
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
    transition: color 100ms ease-in;
}

#searchbar:focus {
    background-color: rgb(80 80 80);
}

#searchbar:focus ~ #searchbutton {
    color: var(--accent-color);
}