
#friendList {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 12vh;
    overflow-y: scroll;
}

.friend {
    box-sizing: border-box;
    display: flex;
    height: 8vh;
    width: 100vw;
    padding: 0 4vh;
    border: none;
    outline: none;
    background-color: transparent;
    align-items: center;
    transition: background-color 100ms ease-in;
}

.friendName {
    font-size: 2vh;
    font-weight: 500;
    font-family: system-ui;
    color: rgb(220 220 220);
}

.profileImg {
    height: 4.5vh;
    width: 4.5vh;
    margin-right: 2vh;
    border-radius: 100%;
}

.friend:active {
    background-color: var(--primary-color);
}


.story {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    transition: opacity 150ms ease-in;
}

.storyButton {
    height: 7vh;
    width: 7vh;
    z-index: 10;
    border-radius: 15px;
    color: white;
    border: none;
    outline: none;
    background-color: var(--accent-color);
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    transition: background-color 150ms ease-in;
}

#backButton {
    position: absolute;
    top: 2vh;
    left: 2vh;
}

#storySwapButton {
    position: absolute;
    top: 2vh;
    right: 2vh;
}

.storyImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.storyButton:active {
    background-color: var(--on-hover);
}

#namanbutton {
    transition: background-color 150ms ease-in;
    background-color: var(--on-hover);
}