:root {
    --background-color: rgb(20 20 20);  
    --accent-color: rgb(170 100 180);
    --on-hover: rgb(150 80 160);
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

#root {
    background: var(--background-color);
}