:root {
    --background-color: rgb(40 40 40);  
    --primary-color: rgb(55 55 55);
    --accent-color: rgb(170 100 180);
    --on-hover: rgb(150 80 160);
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    overflow: hidden;
}